@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer>
        <p>
            <a href="https://github.com/7474/Frieren2022Checker">Source Code</a>
        </p>
    </footer>
</div>
